.tableContent table{
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

.tableContent td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.tableContent tr:nth-child(even) {
    background-color: #dddddd;
}
